Repository andrewgarner/environment: changes, and which lefthook commands are due for each by the changed paths.
All: nix-fmt, stylua

lefthook.yml:

skip_output: true

pre-commit:
  commands:
    nix-fmt:
      glob: "*.nix"
      run: nix fmt {staged_files}
      stage_fixed: true
    stylua:
      glob: "*.lua"
      run: nix fmt {staged_files}
      stage_fixed: true

Use kickstart.nvim
  .gitmodules
  Makefile
  home/neovim/default.nix
  home/neovim/init.lua
  home/neovim/lua/plugins/colorscheme.lua
  home/neovim/lua/plugins/neogit.lua
  home/neovim/lua/plugins/telescope.lua
  home/neovim/lua/plugins/treesitter.lua
Due: nix-fmt, stylua

Revert "Configure Lua code formatting"
  flake.nix
  lefthook.yml
  stylua.toml
Due: nix-fmt

Configure Zed to use Vim mode
  home/zed/settings.json
Due: none

Add Aerospace
  home/aerospace/aerospace.toml
  home/aerospace/default.nix
  home/default.nix
  home/ghostty/config
  homebrew/default.nix
  system/default.nix
Due: nix-fmt

Configure Aerospace gaps
  home/aerospace/aerospace.toml
Due: none

Start Aerospace at login
  home/aerospace/aerospace.toml
Due: none

Configure Aerospace workspaces
  home/aerospace/aerospace.toml
Due: none

Tidy up Aerospace config
  home/aerospace/aerospace.toml
Due: none

Remove volume controls from Aerospace
  home/aerospace/aerospace.toml
Due: none

Shrink Aerospace workspaces
  home/aerospace/aerospace.toml
Due: none

Hide macOS title bar in Ghostty
  home/ghostty/config
Due: none

Fix Ghostty Fish integration
  home/fish/default.nix
Due: nix-fmt

Fix Neovim aliases
  home/neovim/default.nix
Due: nix-fmt

Rename Music workspace to Audio
  home/aerospace/aerospace.toml
Due: none

Add workspace for messaging apps
  home/aerospace/aerospace.toml
Due: none

Fix Zed config permissions
  home/zed/default.nix
Due: nix-fmt

Enable Zed edit predictions with Zeta
  home/zed/settings.json
Due: none

Symlink Aerospace config
  home/aerospace/default.nix
Due: nix-fmt

Fix formatting
  home/aerospace/aerospace.toml
Due: none

Remove numbered workspaces
  home/aerospace/aerospace.toml
Due: none

Reinstate numbered workspaces using keypad
  home/aerospace/aerospace.toml
Due: none

Symlink Ghostty config
  home/ghostty/default.nix
Due: nix-fmt

Focus windows after moving workspace
  home/aerospace/aerospace.toml
Due: none

Disable windows opening animations
  system/default.nix
Due: nix-fmt

Source Nix daemon from fish shell
  home/fish/default.nix
Due: nix-fmt

Set $PAGER
  home/default.nix
Due: nix-fmt

Simplify Ghostty Fish integration
  home/fish/default.nix
Due: nix-fmt

Cleanup shell abbreviations
  home/fish/default.nix
Due: nix-fmt

Use unstable Nixpkgs
  flake.lock
  flake.nix
  nix/default.nix
Due: nix-fmt

Less nesting
  home/default.nix
  system/default.nix
Due: nix-fmt

Simplify
  flake.nix
  nix/default.nix
  system/default.nix
Due: nix-fmt

Spring clean
  home/default.nix
Due: nix-fmt

Add Mise
  home/default.nix
  home/fish/default.nix
  home/git/default.nix
  home/mise/config.toml
  home/mise/default.nix
Due: nix-fmt

Fix Zed workspace config
  home/aerospace/aerospace.toml
Due: none

Automate other workspace
  home/aerospace/aerospace.toml
Due: none

Configure workspace to monitor assignment
  home/aerospace/aerospace.toml
Due: none

Group windows by application
  system/default.nix
Due: nix-fmt

Don't show recent apps in dock
  system/default.nix
Due: nix-fmt
